{% extends "layout.html" %}

{% block scripts %}
<script type='text/babel' src="{{ url_for('static',filename='question.js') }}"></script>
{% endblock %}

{% block title %}
  DATA TRANSFER
{% endblock %}

{% block body %}
<div class="container">

  <h1>
    DATA TRANSFER
  </h1>

  <form method="post">

    <div class='form-group'>
      <label>Enter CSV File Name</label>
      <input type='text'
        class='form-control'
        name='csv_name'
        value="{{container_content}}"
      />
    </div>

    <button type="submit" class='btn btn-success'>Submit</button>  
    <a href="/" class='btn btn-default'>Cancel</button>

  </form>
</div>
{% endblock %}
